p{
    color: yellowgreen;
    font-size: 14px; 
}
h1{
    color: red;
    font-size:15px;
}
.Taylor{
    color: blue;
}
#me{
    font-size: 20px;
}
body{background-color: gray;  }
div{
    font-size:25px; color: yellow;  
}